﻿.scrt {
	text-decoration:2px solid;
	text-decoration-line: underline;
	text-decoration-color: #ffff00;
}
.bd {
	box-shadow: -3px 2px #aa4400;
}
.sttl {
	color:#ffff00;
	font-size: 40px;
	text-shadow: -2px 2px #6c6700;
}
.stml {
	color:#ffff00;
	font-size: 20px;
	text-shadow: -2px 2px #6c6700;
}
.stbrl {
	color:#ffff00;
	font-size: 20px;
	border:2px solid;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}
.srt {
	background: -webkit-linear-gradient(top,#ff7f27,#aa4400);
}
.bdt {
	background-image: url(img/img1.jpg);
	border:2px solid;
	border-color: #ffff00;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}
.hfs{
	color: #ffff00;
}
.bdor {
	background-color: #ff7f27;
}
#tbr {
	border-color: #ffff00;
}
.hgf {
	border-color:#ffff00;
	border: 1px solid;
	background-color: #ff7f27;
}
img {
	border-color:#ffff00;
	border-style:double;
}